source https://nuget.org/api/v2
source https://www.myget.org/F/jajo/api/v2
nuget FluentCommandLineParser
nuget JaJo.Projects.Templating
nuget SuperGlue.Configuration
nuget SuperGlue.Hosting.Aurelia
nuget SuperGlue.Hosting.FastCgi
nuget SuperGlue.Hosting.Katana