push.bat
TestResult.xml
src/CommonAssemblyInfo.cs
[Dd]ebug/
[Rr]elese/
[Oo]bj/
[Bb]in/
*[Rr]e[Ss]harper.user
_ReSharper.*/
.vs
[Mm]etric[Rr]esults
[Pp]ackages
*.stresult
test-results
report.htm
*.swp
output
output/*
*.dotCover
results
deploy
deploy/*
deploymentplan.html
deployment
*ncrunch*
logs
